.login-page {
    background-image: url(../images/login-bg.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.input-box input {
    background-color: #00000088;
    border: none;
    border-radius: 0;
    color: #fff;
    padding: 8px 10px;
}

.input-box label {
    border-radius: 0 !important;
    top: 8px;
    left: 8px;
}

form .btn {
    border-radius: 0;
    background-color: #ffffff88;
    color: black;
    font-weight: 600;
    /* letter-spacing: 3px; */
}